<li id="<%= con.id %>">
	<%= con.con_text %>
	<span class="importance" id="<%=con.importance%>">(<%= con.importance %>)</span>
	<span class="delete"><a id="delete" href="/issue/<%=issue.id %>/con/<%= con.id %>">delete</a></span>
</li>



