<li id="<%= pro.id %>">
	<%= pro.pro_text %>
	<span class="importance" id="<%=pro.importance%>">(<%= pro.importance %>)</span>
	<span class="delete"><a id="delete" href="/issue/<%=issue.id %>/pro/<%= pro.id %>">delete</a></span>
</li>	
